body, html {
	background-image: url('../img/bosnight.jpg');
  margin:0; padding:0;

  /* Thhis is important for cool scrolliness */
  background-attachment:fixed;
}

.bg-2 {
	background-image: url('http://www.orangesmile.com/common/img_cities_original/boston-20061717-13.jpg');
	margin: 0; padding: 0;
	background-attachment: fixed;
	background-size: cover;
}


.bg-sep {
  height:300px;
  width:100%;
}

.about-cont {
	background: rgba(202, 209, 216, 0.70);
}

.skills-cont {
	background: rgba(202, 209, 216, 0.90);
}

.skills h2 {
	margin:0 0 80px;
	font-family:'Titillium Web';
	font-size:24px;
	font-weight:400;
}

.web-icons {
 text-align: center;
 font-size: 7rem;
}



/* Image fixes for portfolio
======================================*/

.scale-me {
		height: 260px;
}

.img-circle {
  border-radius: 50%;
		height: 360px;
}




/* Back To Top Button
======================================*/

.back-top{
    position:fixed;
    right:30px;
    bottom:50px;
    z-index:9999;
}

.back-top a{
    opacity:0.5;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


.back-top .btn-primary{
    background: #EE3B24;
    border-color: #EE3B24;
    padding: 0px;
    font-size: 18px;
    width: 36px;
    height: 36px;
}

.back-top a:hover{
    background: #EE3B24;
    opacity: 1;
}

/*FOOTER*/

.social-buttons {
	text-align: center;
	font-size: 6rem;
}

.bg-light-gray {
  background-color: #f7f7f7;
}
